.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: 200ms;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #212121;
  margin: auto;
  padding: 0;
  border: 1px solid #14ffec;
  width: 80%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0px 2px 16px #14ffec;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  transition: 200ms;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #0d7377;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 200ms;
}

.close:hover,
.close:focus {
  color: #14ffec;
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
}

.modal-header {
  padding: 2px 16px;
  color: #14ffec;
}

.modal-body {
  padding: 2px 16px;
  color: white;
}

.modal-footer {
  padding: 32px 16px;
  color: white;
}

/* input */
.input {
  margin-top: 16px !important;
}

fieldset {
  border-color: #0d7377 !important;
}

fieldset .Mui-focused {
  border-color: #14ffec !important;
}

input:focus {
  color: #14ffec !important;
}

input {
  color: #0d7377 !important;
  border-color: #0d7377 !important;
}

.MuiInputLabel-root {
  color: #14ffec !important;
}

.chip {
  margin: 6px 2px !important;
}
