.month-container {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  background-color: #333f44;
  color: #d6c5f0;
  border: 1px solid #9153f4;
}

.month {
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #d6c5f0;
  border-radius: 12px;
  transition: 200ms;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.month:hover {
  background-color: #9153f4;
  transition: 200ms;
  letter-spacing: 1px;
}

.year-container {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  background-color: #333f44;
  color: #d6c5f0;
}

.input {
  margin-top: 0px;
}
