.App {
  text-align: center;
  background-color: #212121;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-header {
  margin-top: 5px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  grid-template-rows: 40px;
  column-gap: 5px;
  row-gap: 5px;
  color: white;
}

.box-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
  column-gap: 5px;
  row-gap: 5px;
}

.box-header .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 2px solid #14ffec;
  color: #14ffec;
  border-radius: 12px;
  transition: 200ms;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 4px #14ffec;
}

.box-empty {
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: 200ms;
  padding: 5px;
}

.box:hover {
  background-color: #14ffec;
  border: none;
  color: white;
  transition: 200ms;
  box-shadow: 0px 4px 12px #14ffec;
  transform: scale(1.1);
  border-radius: 24px;
}

.active {
  border: 2px solid #9153f4;
  color: #d6c5f0;
  box-shadow: 0px 4px 42px #9153f4;
}

.active:hover {
  border: 2px solid #9153f4;
  background-color: #d6c5f0 !important ;
  color: #9153f4;
  transition: 200ms;
  box-shadow: 0px 4px 42px #9153f4;
  transform: scale(1.1);
  border-radius: 24px;
}

.box-title {
  box-shadow: 0px 2px 12px #9153f4;
  background-color: #9153f4;
  width: 100%;
  padding: 5px 0;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
  transition: 200ms;
  width: 100px;
}

.months {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prev:hover {
  transform: translateX(-25px);
  letter-spacing: 5px;
}

.next:hover {
  transform: translateX(25px);
  letter-spacing: 5px;
}

.caption {
  font-size: 0.8rem;
  font-weight: bold;
}

.labels {
  font-size: 0.8rem;
  color: white;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: 200ms;
}

.labels:hover {
  letter-spacing: 1px;
  transition: 200ms;
}

.active .labels {
  font-size: 0.8rem;
  color: white;
  border-radius: 4px;
}

.box:hover .labels {
  font-size: 0.8rem;
  color: white;
}

@media only screen and (max-width: 768px) {
  .calendar-container {
    overflow-x: auto;
    padding: 5px 15px;
  }

  .box-title {
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    border-radius: 0;
    margin: auto;
  }

  .box-header {
    margin-top: 40px;
  }
}
